<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bunifu.Dataviz.WinForms" version="2.1.6" targetFramework="net472" />
  <package id="Bunifu.UI.WinForms" version="5.0.7" targetFramework="net472" />
  <package id="EcoCore" version="7.0.0.13286" targetFramework="net472" />
  <package id="EcoWpf" version="7.0.0.13286" targetFramework="net472" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net472" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.114.0" targetFramework="net472" />
  <package id="System.Data.SQLite" version="1.0.114.4" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.114.3" targetFramework="net472" />
  <package id="System.Data.SQLite.EF6" version="1.0.114.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Linq" version="1.0.114.0" targetFramework="net472" />
</packages>